In [1]:
import pandas as pd

In [2]:
appl_df = pd.read_csv('dataset/train/appl.csv')

In [3]:
appl_df.head()

,client_id,month_end_dt,appl_prod_group_name,appl_prod_type_name,appl_stts_name_dc,appl_sale_channel_name
0,6886062013213911831,2018-10-31,PILS,PILS,The consultation is over,Network
1,4497537671718296975,2018-10-31,PILS,PILS,The consultation is over,Network
2,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
3,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network
4,1316154201527307743,2018-09-30,PILS,PILS,The consultation is over,Network

In [9]:
appl_df.columns

Index(['client_id            ', 'month_end_dt ', 'appl_prod_group_name ',
       'appl_prod_type_name ', 'appl_stts_name_dc                       ',
       'appl_sale_channel_name'],
      dtype='object')

In [13]:
appl_df = appl_df.rename(columns={col: col.strip() for col in appl_df.columns})

In [14]:
appl_df.columns

Index(['client_id', 'month_end_dt', 'appl_prod_group_name',
       'appl_prod_type_name', 'appl_stts_name_dc', 'appl_sale_channel_name'],
      dtype='object')

In [24]:
appl_client_freq_df = appl_df['client_id'].value_counts().reset_index().rename(
    columns={'index': 'client_id', 'client_id': 'appl_client_freq'})

In [25]:
appl_client_freq_df

                client_id  appl_client_freq
0     5113554406807908560                12
1    -8760395530856623871                10
2     7559894848679880153                 9
3     5029641622584325457                 9
4    -2860038584515890674                 9
...                   ...               ...
6204   -78827487021885562                 1
6205  6032726733496983671                 1
6206 -3310635477253838557                 1
6207  7717667004307663780                 1
6208  6452377182247997073                 1

[6209 rows x 2 columns]

In [31]:
appl_prod_group_name_counts_df = appl_df.groupby(['client_id', 'appl_prod_group_name'])['appl_prod_group_name'].count().unstack(level=-1).fillna(0).reset_index()

In [35]:
appl_prod_group_name_counts_df = appl_prod_group_name_counts_df.rename(
    columns={col: col.strip() for col in appl_prod_group_name_counts_df.columns})
appl_prod_group_name_counts_df.columns

Index(['client_id', 'Cards', 'Mortgage', 'PILS'], dtype='object', name='appl_prod_group_name')

In [36]:
appl_prod_group_name_counts_df['total'] = appl_prod_group_name_counts_df['Cards'] + \
    appl_prod_group_name_counts_df['Mortgage'] + \
    appl_prod_group_name_counts_df['PILS']

In [37]:
appl_prod_group_name_counts_df['appl_prod_group_name_Cards_prop'] = appl_prod_group_name_counts_df['Cards'] / \
    appl_prod_group_name_counts_df['total']
appl_prod_group_name_counts_df['appl_prod_group_name_Mortgage_prop'] = appl_prod_group_name_counts_df['Mortgage'] / \
    appl_prod_group_name_counts_df['total']
appl_prod_group_name_counts_df['appl_prod_group_name_PILS_prop'] = appl_prod_group_name_counts_df['PILS'] / \
    appl_prod_group_name_counts_df['total']

In [41]:
appl_prod_type_name_counts_df = appl_df.groupby(['client_id', 'appl_prod_type_name'])[
    'appl_prod_type_name'].count().unstack(level=-1).fillna(0).reset_index()

appl_prod_type_name_counts_df = appl_prod_type_name_counts_df.rename(
    columns={col: col.strip() for col in appl_prod_type_name_counts_df.columns})
appl_prod_type_name_counts_df.columns

Index(['client_id', 'Credit cards', 'Debit cards', 'Mortgage', 'PILS'], dtype='object', name='appl_prod_type_name')

In [43]:
appl_prod_type_name_counts_df['total'] = appl_prod_type_name_counts_df.apply(lambda row: row['Credit cards'] + row['Debit cards'] + row['Mortgage'] + row['PILS'], axis =1)

In [44]:
appl_prod_type_name_counts_df

appl_prod_type_name,client_id,Credit cards,Debit cards,Mortgage,PILS,total
0,-9220236243053692422,0.0,1.0,0.0,0.0,1.0
1,-9220233431709087652,1.0,0.0,0.0,2.0,3.0
2,-9218923580775423458,1.0,0.0,0.0,0.0,1.0
3,-9217522148893126271,0.0,0.0,0.0,1.0,1.0
4,-9216473704060526660,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...
6204,9207149578494076222,0.0,1.0,0.0,0.0,1.0
6205,9208642641844740200,0.0,1.0,0.0,0.0,1.0
6206,9210268912367210109,0.0,0.0,0.0,1.0,1.0
6207,9213178145161007127,1.0,0.0,0.0,1.0,2.0
6208,9223107459698100059,1.0,1.0,0.0,0.0,2.0

In [45]:
appl_prod_type_name_counts_df['appl_prod_type_name_Credit_cards_prop'] = appl_prod_type_name_counts_df['Credit cards'] / \
    appl_prod_type_name_counts_df['total']
appl_prod_type_name_counts_df['appl_prod_type_name_Debit_cards_prop'] = appl_prod_type_name_counts_df['Debit cards'] / \
    appl_prod_type_name_counts_df['total']
appl_prod_type_name_counts_df['appl_prod_type_name_Mortgage_prop'] = appl_prod_type_name_counts_df['Mortgage'] / \
    appl_prod_type_name_counts_df['total']
appl_prod_type_name_counts_df['appl_prod_type_name_PILS_prop'] = appl_prod_type_name_counts_df['PILS'] / \
    appl_prod_type_name_counts_df['total']

In [46]:
appl_prod_type_name_counts_df

appl_prod_type_name,client_id,Credit cards,Debit cards,Mortgage,PILS,total,appl_prod_type_name_Credit_cards_prop,appl_prod_type_name_Debit_cards_prop,appl_prod_type_name_Mortgage_prop,appl_prod_type_name_PILS_prop
0,-9220236243053692422,0.0,1.0,0.0,0.0,1.0,0.000000,1.0,0.0,0.000000
1,-9220233431709087652,1.0,0.0,0.0,2.0,3.0,0.333333,0.0,0.0,0.666667
2,-9218923580775423458,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.000000
3,-9217522148893126271,0.0,0.0,0.0,1.0,1.0,0.000000,0.0,0.0,1.000000
4,-9216473704060526660,0.0,0.0,0.0,1.0,1.0,0.000000,0.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
6204,9207149578494076222,0.0,1.0,0.0,0.0,1.0,0.000000,1.0,0.0,0.000000
6205,9208642641844740200,0.0,1.0,0.0,0.0,1.0,0.000000,1.0,0.0,0.000000
6206,9210268912367210109,0.0,0.0,0.0,1.0,1.0,0.000000,0.0,0.0,1.000000
6207,9213178145161007127,1.0,0.0,0.0,1.0,2.0,0.500000,0.0,0.0,0.500000
6208,9223107459698100059,1.0,1.0,0.0,0.0,2.0,0.500000,0.5,0.0,0.000000

In [54]:
appl_stts_name_dc_counts_df = appl_df.groupby(['client_id', 'appl_stts_name_dc'])[
    'appl_stts_name_dc'].agg('count').unstack(level=-1).fillna(0).reset_index()

appl_stts_name_dc_counts_df = appl_stts_name_dc_counts_df.rename(
    columns={col: col.strip() for col in appl_stts_name_dc_counts_df.columns})
appl_stts_name_dc_counts_df.columns

Index(['client_id', '2', 'An agreement is required to be signed',
       'Attachment of documents', 'Attachment of documents (after release)',
       'Bank refusal (sent to Methodics)', 'Client refusal',
       'Client refusal (Methodics)', 'Confirmation of issue by the Controller',
       'Draft', 'Formation of the application',
       'Getting a list of customer cards',
       'Improvement is required from the URC', 'Informing the Methodics',
       'Introduced', 'Issuance has been made', 'Issuing a card', 'NaN',
       'The consultation is over', 'The documents have been prepared',
       'To issue', 'Verification of customer data',
       'Waiting for contract data', 'five', 'four', 'one'],
      dtype='object', name='appl_stts_name_dc')

In [50]:
appl_stts_name_dc_counts_df

appl_stts_name_dc,client_id,2,An agreement is required to be signed,Attachment of documents,Attachment of documents (after release),Bank refusal (sent to Methodics),Client refusal,Client refusal (Methodics),Confirmation of issue by the Controller,Draft,...,Issuing a card,NaN,The consultation is over,The documents have been prepared,To issue,Verification of customer data,Waiting for contract data,five,four,one
0,-9220236243053692422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-9220233431709087652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-9218923580775423458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-9217522148893126271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-9216473704060526660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,9207149578494076222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6205,9208642641844740200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6206,9210268912367210109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6207,9213178145161007127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6208,9223107459698100059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
appl_stts_name_dc_df

In [52]:
appl_df['appl_stts_name_dc'].unique()

array(['The consultation is over                ',
       'Issuance has been made                  ',
       'NaN                                     ',
       'Informing the Methodics                 ',
       'Client refusal                          ',
       'Draft                                   ',
       'The documents have been prepared        ',
       'An agreement is required to be signed   ',
       'Improvement is required from the URC    ',
       'Verification of customer data           ',
       'To issue                                ',
       'Attachment of documents (after release) ',
       'Bank refusal (sent to Methodics)        ',
       'Getting a list of customer cards        ',
       'Issuing a card                          ',
       'Introduced                              ',
       'Waiting for contract data               ',
       'Attachment of documents                 ',
       'Client refusal (Methodics)              ',
       'Confirmation of issue by the Controller ',
       'Formation of the application            ',
       'one                                     ',
       'five                                    ',
       'four                                    ',
       '2                                       '], dtype=object)

In [59]:
appl_df.groupby(['client_id', 'appl_prod_type_name'])[
    'appl_prod_type_name'].agg(['count', sum]).unstack(level=-1).fillna(0).reset_index()

# appl_prod_type_name_counts_df = appl_prod_type_name_counts_df.rename(
#     columns={col: col.strip() for col in appl_prod_type_name_counts_df.columns})
# appl_prod_type_name_counts_df.columns

                               client_id                count  \
appl_prod_type_name                      Credit cards
0                   -9220236243053692422                  0.0
1                   -9220233431709087652                  1.0
2                   -9218923580775423458                  1.0
3                   -9217522148893126271                  0.0
4                   -9216473704060526660                  0.0
...                                  ...                  ...
6204                 9207149578494076222                  0.0
6205                 9208642641844740200                  0.0
6206                 9210268912367210109                  0.0
6207                 9213178145161007127                  1.0
6208                 9223107459698100059                  1.0

                                                               \
appl_prod_type_name Debit cards          Mortgage
0                                    1.0                  0.0
1                                    0.0                  0.0
2                                    0.0                  0.0
3                                    0.0                  0.0
4                                    0.0                  0.0
...                                  ...                  ...
6204                                 1.0                  0.0
6205                                 1.0                  0.0
6206                                 0.0                  0.0
6207                                 0.0                  0.0
6208                                 1.0                  0.0

                                                           sum  \
appl_prod_type_name PILS                  Credit cards
0                                    0.0                     0
1                                    2.0  Credit cards
2                                    0.0  Credit cards
3                                    1.0                     0
4                                    1.0                     0
...                                  ...                   ...
6204                                 0.0                     0
6205                                 0.0                     0
6206                                 1.0                     0
6207                                 1.0  Credit cards
6208                                 0.0  Credit cards

                                                                \
appl_prod_type_name  Debit cards          Mortgage
0                    Debit cards                             0
1                                       0                    0
2                                       0                    0
3                                       0                    0
4                                       0                    0
...                                   ...                  ...
6204                 Debit cards                             0
6205                 Debit cards                             0
6206                                    0                    0
6207                                    0                    0
6208                 Debit cards                             0


appl_prod_type_name                      PILS
0                                                           0
1                    PILS                PILS
2                                                           0
3                                        PILS
4                                        PILS
...                                                       ...
6204                                                        0
6205                                                        0
6206                                     PILS
6207                                     PILS
6208                                                        0

[6209 rows x 9 columns]

In [62]:
g = appl_df.groupby(['client_id', 'appl_prod_type_name'])[
    'appl_prod_type_name'].count()

In [64]:
g.groupby(level=0).apply(lambda x: x/x.sum())

client_id             appl_prod_type_name
-9220236243053692422  Debit cards             1.000000
-9220233431709087652  Credit cards            0.333333
                      PILS                    0.666667
-9218923580775423458  Credit cards            1.000000
-9217522148893126271  PILS                    1.000000
                                                ...
 9210268912367210109  PILS                    1.000000
 9213178145161007127  Credit cards            0.500000
                      PILS                    0.500000
 9223107459698100059  Credit cards            0.500000
                      Debit cards             0.500000
Name: appl_prod_type_name, Length: 10089, dtype: float64