In [2]:
import pandas as pd

In [19]:
CALL_COST = 400 / 0.1
def calc_NIC(row):
    
    sale_flg, sale_amount, contacts = row['sale_flg'], row['sale_amount'], row['contacts']
    NIC = sale_flg * sale_amount - contacts * CALL_COST

    return NIC

In [20]:
def calc_ANIC(true_df, pred_df):
    df = true_df.merge(pred_df, on = 'client_id', how = 'inner')
    df['NIC'] = df.apply(calc_NIC, axis=1)
    return df['NIC'].mean()

In [5]:
funnel_df = pd.read_csv('dataset/train/funnel.csv')

In [6]:
funnel_df.columns

Index(['client_id', 'sale_flg', 'sale_amount', 'contacts', 'feature_1',
       'client_segment', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10',
       'region_cd'],
      dtype='object')

In [8]:
pred_df = funnel_df[['client_id']].copy()
pred_df['target'] = 1

In [9]:
pred_df.head()

             client_id  target
0  7513301859607023584       1
1  9157009756404187626       1
2 -1893104556496814867       1
3  6886062013213911831       1
4 -8156468515495593794       1

In [13]:
true_df = funnel_df[['client_id', 'sale_flg', 'sale_amount', 'contacts']].copy()
true_df = true_df.fillna(0)
true_df.head()

             client_id  sale_flg  sale_amount  contacts
0  7513301859607023584         0         0.00         1
1  9157009756404187626         0         0.00         1
2 -1893104556496814867         0         0.00         1
3  6886062013213911831         0         0.00         1
4 -8156468515495593794         1    138018.05         1

In [21]:
calc_ANIC(true_df, pred_df)

2586.1902456042426

In [23]:
prediction_dict = {row['client_id']: row['target']
                   for i, row in pred_df.iterrows()}

In [25]:
true_df.to_csv('dataset/temp/truth_file.csv', index=False)
pred_df.to_csv('dataset/temp/pred_file.csv', index=False)

In [26]:
df = true_df.merge(pred_df, on='client_id', how='inner')
df['NIC'] = df.apply(calc_NIC, axis=1)

In [28]:
df['NIC'].mean()

2586.1902456042426

In [30]:
df.query('target == 1').NIC.sum()/ len(df)

2586.1902456042426

In [33]:
df['NIC'].sum(), df.query('target == 1').NIC.sum(), df.query('target == 0').NIC.sum()

(55597917.900000006, 55597917.900000006, 0.0)

In [34]:
df.query('target == 0')

Empty DataFrame
Columns: [client_id, sale_flg, sale_amount, contacts, target, NIC]
Index: []